html {

  font-size: 100%
}


body {

    font-family: Helvetica, Arial, sans-serif;
    background: white;
    font-size:$small;

}

h1{

    font-size: 2rem;
}

button{

    cursor:pointer;

}

button:disabled{

    cursor: default;
}

.is-active{

    font-weight: bold;
}